/*.highlight {*/
/*color: #C61C6F;*/
/*font-weight: 600;*/
/*}*/

/*.item {*/
/*padding-left: 30px;*/
/*}*/

/*.bigger {*/
/*font-size: 150%;*/
/*}*/

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #BD3613;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.story-container {
    animation-duration: 0.3s;
    transition: all 0.5s;
    background-color: #EAE3CB;
    height: 85%;
    right: 0;
    margin-right: 40px;
    position: absolute;
    overflow-x: auto;
}

.story-section-title {
    color: #D11C24;
    font-size: 32px;
    font-weight: 700;
    margin: 20px;
}

.story-section-body {
    margin: 20px;
    text-align: justify;
}

.add-branch-button {
    transition: all 0.2s;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    background-color: #A57706;
    text-align: center;
    color: white;
}

.add-branch-button:hover {
    margin: 20px;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: #A57706;
}

.delete-branch-button {
    width: 42.375%;
    transition: all 0.2s;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    background-color: #D11C24;
    text-align: center;
    color: white;
}

.delete-branch-button:hover {
    margin: 20px;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: #D11C24;
}

.edit-branch-button {
    width: 42.375%;
    transition: all 0.2s;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    background-color: #BD3613;
    text-align: center;
    color: white;
}

.save-branch-button {
    width: 42.375%;
    transition: all 0.2s;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    background-color: #738A05;
    text-align: center;
    color: white;
}

.edit-branch-button:hover {
    margin: 20px;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: #BD3613;
}

.custom-alert {
    height: 50px;
    border-radius: 5px;
    background-color: #D11C24;
    color: white;
    position: fixed;
    padding: 10px;
    right: 0;
    top: 0;
    margin: 20px;
}

.row {
    transition: all 0.5s;
}

.tree-container {
    transition: all 0.5s;
    overflow-x: auto;
    overflow-y: auto;
}

.story-title {
    margin: 20px;
}

.close-story-button {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-weight: 700;
}

textarea, input {
    outline: none;
}

textarea, .textareaClone {
    padding: 20px;
    /*margin: 20px;*/
    background: transparent;
    /*font-family: Arial;*/
    /*font-style: italic;*/
    /*font-size:33px;*/
    border: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*textarea {*/
/*font-size: 20px;*/
/*}*/

.expandingText > textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.title-edit {
    color: #D11C24;
    font-size: 32px;
    font-weight: 700;
}

.body-edit {
    text-align: justify;
    padding-top: 0;
}

#next_page {
    display: none;
}

.edit-branch-button-full {
    transition: all 0.2s;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    background-color: #BD3613;
    text-align: center;
    color: white;
}

.edit-branch-button-full:hover {
    margin: 20px;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: #BD3613;
}

.story-header {
    margin-top: 100px;
    text-align: center;
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 20px;
}

.story-center-container {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}

.story-header h1 {
    font-size: 122px;
    margin-bottom: 80px;
}

.story-node {
    line-height: 120%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.story-choice-button {
    transition: all 0.2s;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    background-color: #BD3613;
    text-align: center;
    color: white;
}

.story-choice-button:hover {
    margin: 5px;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: #BD3613;
}

hr.med {
    width: 200px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #BD3613;
}

.center {
    text-align: center;
}